@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color: black !important;
}

.brand-logo, h2{
  font-family: 'Grand Hotel', cursive;
}

.mycard {
  margin-top: 30px;
}

.auth-card{
  padding: 20px;
  max-width: 400px;
  text-align: center;
  margin: 10px auto;
}

.card-content{
  padding: 5px 24px !important;
}

.yet-card{
  padding: 8px;
  max-width: 400px;
  text-align: center;
  margin: 10px auto;
}

.sign{
  margin-left: 5px;
  color: #33a0fa !important;
}

.forget-password{
  margin-top: 15px;

}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #64b5f6 !important;
  box-shadow: 0 1px 0 0 #64b5f6 !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #64b5f6 !important;
  box-shadow: 0 1px 0 0 #64b5f6 !important;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.item{
  width: 30%;
}

.icon-item{
  margin-right: 10px;
}

.home-card{
  max-width: 600px;
  height: max-content;  
  margin: 25px auto;
  border: 1px solid #dbdbdb;
}

/* .card-image{
  height: 80%;
} */

.title-post span:nth-child(1){
  font-size: 15px;
  font-weight: bolder;
  margin-right: 6px;
}

#toast-container{
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}

.like:hover{
  cursor: pointer;
}

.custom-comment{
  position: fixed !important;
    bottom: 30px !important;
    right: 35% !important;
    left: auto !important;
    background: #a6a6a6;
    height: 10px;
}

.d-post{
  justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 450;
    padding: 10px;
    width: 100px;
    display: flex;
    border-top: 1px solid;
}

.d-posted{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.pre-load{
  left: 45%;
  top: 100px;
  
}
.no-post{
  font-size: 18px;
    font-weight: 600;
    margin-top: 20px;

}

.modal{
  color: black;
}

.collection-item{
  float: none;
  width: 100%;
}

.dropdown-content{
  float: none;
  width: 180px !important;
}

.material-icons:hover{
  cursor: pointer;
}

.btn-logout{
  padding: 0px 15px;
    font-size: 16px;
    font-weight: 400;
}

.nav-custom{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 250px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 15px 0 ;
    background: #fafafa;
}

.nav-wrapper{
  display: flex;
  justify-content: space-around;

}

nav ul a:hover , a:focus{
  background: none !important;
  background-color: none !important;
}
.time-post{
  font-size: 14px;
  font-style: italic;
}

.form-cmt{
  padding: 2px 24px;
}

.icon{
  display: flex;
    justify-content: left;
    align-items: center;
    margin: -6px 0;
}

.reaction{
  font-size: .9em;
  color: #8e8e8e;
  margin: -10px 0 10px 37px;
}

.d-list{
  width: 120px !important;  
}

.d-list li{
  
}

.img-avt{
  border-radius: 50%;
  overflow: hidden;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.img-avt-cmt{
  border-radius: 50%;
  overflow: hidden;
  width: 28px;
  height: 28px;
  margin-right: 10px;
}